.entrance-container {
  position: relative;
  width: 84px;
  height: 32px;
  align-items: center;
  padding-left: 12px;
  background: linear-gradient(270deg, #7DE0FF -32.86%, #0064FF 99.04%);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.50) inset;
  color: white;
  &:hover {
    background: linear-gradient(270deg, #7DFFEF -23.66%, #0085FF 99.04%);
    color: white;
  }
  &:active {
    background: linear-gradient(270deg, #61BCFE -5.38%, #0045F5 99.04%);
    color: white;
  }
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 11px;
    background: url("../images/star.svg") no-repeat;
    top: 2px;
    right: 7px;
  }
}