.menu {
  flex: 1;
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.menuItem {
  height: 52px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  &:hover {
    color: var(--blue-700);
  }
}

.menuItemIcon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s;
}

.rotated {
  transform: rotate(180deg);
}

:global(.ones-popover-container) {
  padding: 0 !important;
}

.menuPanel {
  width: 100vw;
}

.link:hover {
  text-decoration: none;
  color: var(--bue-700, #0056FF);
}