.container {
  width: 100%;
  height: 64px;
  background-color: #fff;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2030;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  min-width: 1024px;
  width: 100%;
  padding: 0 30px;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-right: 30px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text {
  color: var(--Gray-Gray3, #696A6D);
  /* 导航内部文字、正文 */
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.text:hover {
  color: #0064ff;
}


.trial {
  padding: 8px 15px;
  color: var(--White-100, #FFF);
  text-align: center;
  border-radius: 3px;
  background: var(---1, #0064FF);

  &:hover {
    color: #fff;
    background-color: #226aff;
  }
}
