.panel {
  display: flex;
  justify-content: center;
  background: #fff;
  min-width: 900px;
  margin: auto;
}

.left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #F0F0F2;
  padding: 40px 40px 40px 0;

}
.group {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  padding-top: 80px;
}


.title {
  color: var(--Gray-80, #7E7F81);
  font-family: "ONES Sans";
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}

.product, .app {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.icon {
  font-size: 32px;
  margin-right: 12px;
}
.name {
  font-size: 16px;
  font-weight: 500;
  color: #222;
}
.desc {
  font-size: 13px;
  color: #888;
}
.apps {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 24px;
}
.app {
  flex-direction: column;
  align-items: flex-start;
  width: 120px;
  margin-bottom: 8px;
}
.more {
  margin-top: 16px;
  color: #0056ff;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.qrcodeBox {
  display: flex;
  flex-direction: column;
  // align-items: center;
}
.qrcode {
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}
.qrtitle {
  font-size: 16px;
  font-weight: 500;
  color: #222;
}
.qrdesc {
  font-size: 13px;
  color: #888;
  text-align: center;
} 