.panel {
  display: flex;
  justify-content: center;
  background: #fff;
  min-width: 900px;
  margin: auto;
}

.left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #F0F0F2;
  padding: 40px 40px 40px 0;
}

.group {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
  padding-top: 80px;
}


.title {
  color: var(--Gray-80, #7E7F81);
  font-family: "ONES Sans";
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  // padding-left: 15px;
}


.name {
  color: var(--Gray-120, #2B2C2F);
  /* 强调/T1 Medium 18px */
  font-family: "ONES Sans";
  font-size: 16px;
  line-height: 26px;

  &:hover {
    color: var(--bue-700, #0056FF);
  }
}

.pureText {
  padding: 15px 15px 15px 0;
}

.desc {
  font-size: 13px;
  color: #888;
}

.qrcodeBox {
  display: flex;
  flex-direction: column;
}

.qrcode {
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}

.qrtitle {
  font-size: 16px;
  font-weight: 500;
  color: #222;
}

.qrdesc {
  font-size: 13px;
  color: #888;
  text-align: center;
}

.link {
  // padding-left: 15px;
}

.link:hover {
  text-decoration: none;
  background-color: var(--Blue-5,
    #F2F7FF);
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.item {
  display: flex;
  align-items: baseline;
  width: 230px;
  padding: 10px 0;
}

.imgWrapper {
    width: 180px;
    height: 60px;
    border-radius: 3px;
    background: var(--White-100, #FFF);
  
    /* Bg Shadow/Shadow 2 */
    box-shadow: 0px 0px 1px 0px rgba(22, 23, 26, 0.05), 0px 8px 16px 0px rgba(22, 23, 26, 0.05);

    .img {
      width: 100%;
      height: 100%;
      object-fit: contain; // 保持宽高比，完整显示图片
      object-position: center; // 居中显示
    }
}