.left {
  display: flex;
  border-right: 1px solid #F0F0F2;
  padding: 40px 40px 40px 0;
}

.base {
  width: 300px;
}

.apps {
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.app {
  flex-direction: column;
  align-items: flex-start;
  width: 210px;
  height: 54px;
  margin-bottom: 8px;

}

.appButton {
  width: 100%;
  height: 50px;
  background-color: rgba(#F0F0F2,0.4);
}

.appIcon {
  margin-right: 10px;
}