.left {
  display: flex;
  justify-content: space-between;

  // padding: 40px 40px 20px 0;
  gap: 45px;
}

.content {
  display: flex;
  flex-direction: column;
}

// .item {
//   padding: 15px 0;

//   &:hover {
//     border-radius: 3px;
//     background: var(--Blue-5, #F2F7FF);
//   }
// }


.sceneContent {
  width: 480px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

// .sceneItem {
//   width: 240px;
//   display: flex;
//   align-items: baseline;
//   justify-content: start;
//   gap: 8px;
//   padding: 10px 0;


//   &:hover {
//     border-radius: 3px;
//     background: var(--Blue-5, #F2F7FF);
//   }
// }

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  padding: 40px 40px 20px 0;
  border-right: 1px solid #F0F0F2;
}

.button {
  background-color: #f0f0f266;
  min-height: 50px;
  border: none !important;
  color: #0064ff;

  &:hover {
    color: #0032BE !important;
    background-color: #f0f0f266 !important;
  }
}