.left {
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #F0F0F2;
  padding: 40px 40px 40px 0;
  gap: 45px;
}

.content {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 15px 0;

  &:hover {
    border-radius: 3px;
    background: var(--Blue-5, #F2F7FF);
  }
}


.sceneContent {
  width: 480px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.sceneItem {
  width: 240px;
  display: flex;
  align-items: baseline;
  justify-content: start;
  gap: 8px;
  padding: 10px 0;


  &:hover {
    border-radius: 3px;
    background: var(--Blue-5, #F2F7FF);
  }

  :global(.ones-icon) {
    font-size: 24px;
  }
}