.left {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  border-right: 1px solid #F0F0F2;
  padding: 40px 118px 40px 0;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px;
}

.blogImg{
  width: 405px;
  height: 144px;
  object-fit: cover;
  margin-right: 4px;
  border-radius: 4px;
}

.blog{
  display: flex;
}